{% block title %}Impressum{% endblock %}

{% load static %}

<div class="close-modal" data-dismiss="modal">
    <div class="lr">
        <div class="rl">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
                <h1>Impressum</h1> <h2>Angaben gem&auml;&szlig; &sect; 5 TMG:</h2> <p>Nadine Brinner<br /> Deine
                Lerntherapeutin<br /> Leubener Str. 30<br /> 01279 Dresden </p> <h2>Kontakt:</h2> <table><tr>
                <td>Telefon:</td> <td>01794137845</td></tr> <tr><td>Telefax:</td> <td>01794137845</td></tr> <tr><td>E-
                Mail:</td> <td>milkbread@freenet.de</td> </tr></table> <p>Berufsbezeichnung: anderer Beruf<br />
                Zust&auml;ndige Kammer: <br /> Verliehen durch: <br /> Es gelten folgende berufsrechtliche Regelungen: <br />
                Regelungen einsehbar unter: <a href="" target="_blank" title=""></a></p> <p>&nbsp;</p> <p>Quelle: <em><a
                href="https://www.e-recht24.de">eRecht24</a></em></p>
            </div>
        </div>
    </div>
</div>
